html{
padding:0%; margin:0%;
width:100%; height:100%;
!overflow:hidden;
background: linear-gradient(#fb8b93, #ff3999);
text-align: center;
}
a{
	color: #b47;
}
a:hover{
	color: #c48;
}
h1{
	font-size: 7vw;
}
h2{
	font-size: 5vw;
}
h3{
	font-size: 4vw;
}
body{
font-family:"Arial", "sans-serif";
color: #323;
}
